districts/__pycache__/GestorArquivos.cpython-311.pyc
districts/__pycache__/GestorContratos.cpython-311.pyc
districts/__pycache__/GestorDistritos.cpython-311.pyc
districts/__pycache__/GestorMunicipios.cpython-311.pyc
districts/__pycache__/GestorURL.cpython-311.pyc
